<!DOCTYPE html>
<html>
<head>
    <title>Cat App</title>
    <link rel="stylesheet" href="/css/jquery-ui.min.css", type = "text/css" />
    <link rel="stylesheet" href="/css/jquery-ui.structure.min.css", type = "text/css" />
    <link rel="stylesheet" href="/css/jquery-ui.theme.min.css", type = "text/css" />
    <link rel="stylesheet" href="/css/application.css", type = "text/css" />

    <script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/js/application.js" type="text/javascript"></script>
</head>
<body>
    <div id="header">
        <h1>
            RateKitten
        </h1>
    </div>

    <div id="left-sidebar">
        <p>
            <div class="ui-widget">
                <label for="category_select">Start typing to choose a category: </label>
                <input id="category_select" data-options='<%= @categories %>'>
            </div>
        </p>
    </div>

    <div id="main">
        <img id="cat_photo" src="<%= @image['url']%>"/>
    </div>
</body>
</html>